---
title: Markus Koch
subtitle: jbob
description: Homepage
---

{% extends "columns.j2" %}

{% block main %}
## About me

* Professional System Administrator and Software Developer.
* Studied Electrical Engineering and specialized in Computer Engineering/Computer
Science.
* Programming experience
    * Perl (Mojolicous)
    * Python
    * JavaScript (jQuery)
    * Bash
    * C
    * C++
    * Java
* Administration experience
    * Linux (Debian/RedHat/Ubuntu/Arch/Mint)
    * Solaris/SunOS
    * Windows Server (Basic)
    * Apache httpd w/ mod_perl
    * Apache Tomcat
    * MongoDB
    * nginx
    * Postfix
    * Exim
    * Courier
    * CUPS
* Extensive Network knowledge
    * IPv4/IPv6
    * TCP/UDP
    * DNS
    * DHCP
    * HTTP
    * SMTP
    * SSL/TLS
    * VPN
    * Firewalls/NAT
* Other
    * HTML/CSS (Bootstrap)
    * LaTeX
    * XML
    * JSON

{% endblock main %}


{% block sidebar %}
![GNU]({{ media_url('img/GNU.png') }})

#### About this site

This page was created using the following:

* [Vim](http://www.vim.org/)
* [Hyde](http://hyde.github.io/)
* [git](http://git-scm.com/)

{% endblock sidebar %}
